/*
 *  1.Fonts
 *  2.Animations
 *  3.Global
 *  4.Preloader
 *  5.Top Navigation
 *  6.Header
 *  7.About
 *  8.News
 *  10.Team
 *  11.Pricing
 *  12.Quotes
 *  13.Posts
 *  14.Contact
 *  15.Download
 *  16.Footer
 *  17.Responsive media queries
 */


/* 1.Fonts */

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Boldd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Mediumd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Light.eot');
    src: url('../fonts/Roboto/Roboto-Lightd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Light.woff') format('woff'), url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Thin.eot');
    src: url('../fonts/Roboto/Roboto-Thind41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


/* 2.Animations */

@keyframes video-animation {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes sk-doubleBounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-doubleBounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* 3.Global */

body {
    font-family: Roboto;
    position: relative;
}

.hide-scroll {
    overflow-y: hidden;
}

#btn-download:hover {
    color: #212121;
}

.apps-icons {
    margin-top: 36px;
}

.apps-icons button.btn {
    font-weight: bold;
    width: 151px;
    line-height: 36px;
    margin: 10px 15px 10px 0;
    border-width: 2px;
    border-radius: 6px;
}

.apps-icons button.btn:before {
    content: '';
    display: inline-block;
    padding-right: 23px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: -2px;
    transition: all 0.1s linear 0s;
}

.apps-icons button.btn:hover {
    color: #212121;
}

.apps-icons button.btn#appstore:before {
    background-image: url('../images/app-store.png');
    width: 18px;
    height: 18px;
}

.apps-icons button.btn#appstore:hover:before {
    background-image: url('../images/app-store-hover.png');
}

.apps-icons button.btn#googleplay:before {
    background-image: url('../images/google-play.png');
}

.white-box {
    display: block;
    height: 100%;
    background-color: #FAFAFA;
    margin: 15px auto;
    border-radius: 10px;
    padding: 15px 15px 40px 15px;
    text-align: center;
    box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease-in-out 0s;
}

.aboutCorp {
    margin: 10px 0;
}

.white-box:hover {
    cursor: pointer !important;
    transform: scale(1.05);
}

.white-box .box-icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-top: 60px;
    position: relative;
}

.white-box .box-icon:before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #EFF4FF;
    position: absolute;
    left: -29px;
    top: -25px;
    cursor: pointer !important;
    border-radius: 10px;
    transform: rotateZ(-12deg);
}

.white-box .box-icon:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: -2px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.white-box .box-title {
    display: block;
    text-transform: capitalize;
    margin-top: 55px;
    font-size: 21px;
    color: #0030B2;
    padding-bottom: 20px;
}

.white-box .box-text {
    display: block;
    color: #757575;
    font-size: 14px;
    padding: 0 5px;
    text-align: center;
    margin-top: 4px;
    overflow: hidden;
    text-align: justify;
}

h2.section-title {
    text-align: center;
    font-size: 2.2rem;
    color: #212121;
    margin-bottom: 20px;
}

span.section-text {
    text-align: center;
    padding: 0px 20px;
    display: block;
    color: #757575;
    white-space: pre-line;
    font-size: 18px;
}

.slider-container {
    position: relative;
}

.slider-prev,
.slider-next {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -40px;
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    background-color: #FFF;
}

.slider-prev:before,
.slider-next:before {
    content: '';
    display: block;
    height: 40px;
    background-image: url('../images/arrow-right.svg');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-prev:hover,
.slider-next:hover {
    background-color: #F2F6FF;
}

.slider-prev:before {
    transform: rotateZ(180deg);
}

.material-ink {
    background-color: #757575;
}

ul.slick-dots {
    padding: 0;
    margin: 20px 0 0 0;
    position: relative;
    list-style: none;
    text-align: center;
    position: relative;
}

ul.slick-dots:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

ul.slick-dots li {
    display: inline-block;
    width: 15px;
    height: 8px;
    background-color: #BDBDBD;
    margin: 0 3px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

ul.slick-dots li.slick-active {
    width: 22px;
    background-color: #8343D8;
}

.slick-slide:focus {
    outline: none;
}

.btn-outline-purple .material-ink {
    background-color: #E0E0E0;
}

.btn-outline-purple {
    color: #843CD8;
    border-color: #843CD8;
    border-width: 2px;
    border-radius: 6px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.btn-outline-purple:hover {
    color: #FFF;
    background-color: #843CD7;
    border-color: #843CD8;
}

.btn-outline-purple:focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 60, 216, 0.5) !important;
}

.btn-outline-purple:active {
    color: #FFF;
    background-color: #843CD7 !important;
    border-color: #843CD8 !important;
}


/* 4.Preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
    z-index: 13000;
    height: 100%;
    opacity: 1;
    transition: all 1s ease-in-out 1s;
}

.preloader.will-hide {
    opacity: 0;
}

.preloader_image {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sk-double-bounce {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 40px auto;
}

.sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
    animation: sk-doubleBounce 2s infinite ease-in-out;
}

.sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}


/* 5.Top Navigation */

#top-nav.navbar {
    padding-top: 23px;
    padding-bottom: 23px;
    transition: all 0.2s linear 0.2s;
}

#top-nav.navbar a.navbar-brand {
    font-size: 32px;
    font-weight: bold;
}

#top-nav.navbar #btn-download {
    font-weight: bold;
    margin-left: 20px;
    border-width: 2px;
    border-radius: 6px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

#top-nav.navbar .navbar-nav .nav-item a {
    padding: 0;
    margin: 0px 10px;
    color: #FFF !important;
    position: relative;
    text-transform: capitalize !important;
    font-size: 17px;
}

#top-nav.navbar .navbar-nav .nav-item a:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: transparent;
    top: 10px;
    left: -8px;
    transition: all 0.1s linear 0s;
}

#top-nav.navbar .navbar-nav .nav-item a:hover:before,
#top-nav.navbar .navbar-nav .nav-item a.active:before {
    background-color: #fafafa;
}

#top-nav.navbar.navbar-is-scrolling {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

#top-nav .navbar-toggler {
    border: none;
    outline: none !important;
}

#top-nav:not(.collapsed) .navbar-toggler span {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


/* 6.Header */

div#header {
    /* background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%); */
    padding-top: 130px;
    padding-bottom: 500px;
    position: relative;
    overflow: hidden;
}

div#header:before {
    content: '';
    position: absolute;
    top: 200px;
    z-index: 1;
    right: -50vw;
    left: -50vw;
    height: 350px;
    /* background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%); */
    background-image: linear-gradient(45deg, rgba(155, 35, 234, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
    transform: rotateZ(6deg);
}

#header .header-title {
    color: #fafafa;
    margin-top: 250px;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 3px;
    line-height: 63px;
}

#header .corp-inc {
    margin-top: 32px;
    color: #FAFAFA !important;
    font-size: 19px;
    list-style-type: circle;
}

#header .header-text {
    color: #FAFAFA;
    font-size: 20px;
    margin-top: 32px;
    display: block;
    letter-spacing: 0px;
    line-height: 27px;
    word-spacing: 1px;
    white-space: pre-line;
    text-align: justify !important;
}

#header img#iphonex {
    position: absolute;
    margin-left: -35px;
    margin-top: -15px;
    width: 320px;
}


/* 7.Features */

div#about {
    margin-top: -320px;
    padding-bottom: 150px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}


/* #about .section-title {
    color: #000 !important;
} */

div#about:before {
    content: '';
    position: absolute;
    top: 210px;
    right: -50vw;
    left: -50vw;
    background-color: #F2F6FF;
    transform: rotateZ(-6deg);
    bottom: 110px;
}

#about h2.section-title {
    color: #FAFAFA;
    margin-bottom: 50px;
}

#about .white-box#box-1 .box-icon:after {
    background-image: url('../images/features-icon-1.svg');
}

#about .white-box#box-2 .box-icon:after {
    background-image: url('../images/features-icon-2.svg');
}

#about .white-box#box-3 .box-icon:after {
    background-image: url('../images/features-icon-3.svg');
    width: 122%;
    height: 122%;
    margin-left: -10%;
    margin-top: -10%;
}

#about .white-box#box-4 .box-icon:after {
    background-image: url('../images/features-icon-4.svg');
}


/* 8.news */

#screens {
    padding-top: 130px;
}

#screens .screens-slider img {
    margin: 20px 0 40px 0;
    display: inline-block;
    width: 218px;
    max-width: 50vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#screens .screens-slider {
    margin-top: 50px;
}

#screens .slider-prev {
    left: -10px;
}

#screens .slider-next {
    right: -10px;
}

#team .slick-track {
    padding: 50px 0;
}

.news-slug {
    font-size: 13px;
    font-weight: 500;
    text-align: start !important;
    padding-bottom: 20px;
}

.news-text {
    padding: 0 8px;
    flex: 1;
    text-align: justify !important;
    overflow: auto;
}

.news-sections {
    background: #EFE3FF;
    box-shadow: 0 5px 15px #f1f1f1;
    margin: 0 10px;
    border-radius: 5px;
    display: flex !important;
    flex-direction: column !important;
    height: 400px !important;
    padding: 20px;
}

.news-sections h5 {
    text-align: start !important;
}


/* 9.Video */

#video {
    margin-top: 130px;
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
}

div#video:before {
    content: '';
    position: absolute;
    top: 280px;
    right: -50vw;
    left: -50vw;
    bottom: 110px;
    background-color: #F2F6FF;
    transform: rotateZ(-6deg);
}

#video .video-thumbnail {
    position: relative;
    width: 720px;
    max-width: 100%;
    margin: 50px auto 0 auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#video .video-thumbnail:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.45);
    border-radius: 9px;
}

#video .video-thumbnail img {
    width: 100%;
    border-radius: 10px;
}

#video .video-play-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 10px;
    transform: rotateZ(-6deg);
}

#video .video-play-button i.play-button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    background-image: linear-gradient(-145deg, #9b23ea 0%, #5f72bd 100%);
}

#video .video-play-button i.play-button:hover {
    background-image: linear-gradient(-145deg, #7110b1 0%, #5869ad 100%);
}

#video .video-play-button i.play-button:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-image: url('../images/play-icon.svg');
    transform: rotateZ(6deg);
}

#video .video-play-button i.play-animation {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    animation: video-animation 3s linear 0s infinite;
}

#video .video-play-button i.play-animation:nth-child(2) {
    animation-delay: 0s;
}

#video .video-play-button i.play-animation:nth-child(3) {
    animation-delay: 1s;
}

#video .video-play-button i.play-animation:nth-child(4) {
    animation-delay: 2s;
}


/* 10.Team */

div#team {}

#team .slider-controls {
    position: absolute;
    top: 135px;
    left: 50%;
}

#team i.slider-prev {
    left: -155px;
}

#team i.slider-next {
    right: -155px;
}

.team-members.slick-slider {
    display: block;
    width: 50%;
    margin: -250px auto 0 auto;
    direction: ltr;
}

.team-members.slick-slider .slick-slide>div {}

.team-members.slick-slider .slick-slide .member-name {
    display: block;
    font-size: 20px;
    color: #212121;
}

.team-members.slick-slider .slick-slide .member-career {
    display: block;
    color: #757575;
    font-size: 15px;
}

.team-members.slick-slider .slick-slide .member-about {
    display: block;
    margin-top: 30px;
    color: #757575;
    white-space: pre-line;
    line-height: 25px;
}

.team-members.slick-slider .slick-slide .member-social {
    display: block;
    margin-top: 30px;
}

.team-members.slick-slider .slick-slide .member-social a {
    color: initial;
}

.team-members.slick-slider .slick-slide .member-social i {
    font-size: 22px;
    margin: 0 5px;
    color: #757575;
}

.team-members.slick-slider .slick-slide .member-social a:hover i {
    color: #8343D8;
}

.round-slider-images>div:before {
    display: none !important;
}


/* 11.Pricing */

div#pricing {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: unset !important;
    position: relative;
    overflow: hidden;
}

.lazy .slick-arrow {
    position: absolute;
    top: 100px !important;
    z-index: 5;
}

div#pricing:before,
div#pricing:after {
    content: '';
    position: absolute;
    top: 120px;
    right: -50vw;
    left: -50vw;
    height: 400px;
    background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
    transform: rotateZ(6deg);
    z-index: -1;
}

div#pricing:after {
    background-color: #F2F6FF;
    background-image: none;
    top: 520px;
    height: initial;
    bottom: 110px;
}

#pricing h4.section-title {
    text-align: center;
    color: #FAFAFA;
}

#pricing span.section-text {
    color: #FAFAFA;
    margin-bottom: 30px;
}

#pricing .white-box .box-icon {
    margin-top: 45px;
}

#pricing .white-box#box-1 .box-icon:after {
    background-image: url('../images/pricing-icon-1.svg');
}

#pricing .white-box#box-2 .box-icon:after {
    background-image: url('../images/pricing-icon-2.svg');
}

#pricing .white-box#box-3 .box-icon:after {
    background-image: url('../images/pricing-icon-3.svg');
}

#pricing .white-box .box-title {
    margin-top: 40px;
}

#pricing .white-box .box-text {
    line-height: 28px;
}

#pricing .white-box .box-price {
    display: block;
    font-size: 32px;
    color: #843CD8;
    text-align: center;
    background-color: #F5F5F5;
    margin: 12px -15px 0px -15px;
    line-height: 70px;
}

#pricing .white-box .btn {
    margin: 20px 0 5px 0;
}


/* 12.Quotes */

#quotes .slider-prev {
    left: -40px;
}

#quotes .slider-next {
    right: -40px;
}

#quotes .quotes-slider {
    margin-top: 21px;
}

#quotes .quotes-slider .slick-slide {
    padding: 20px 40px;
    margin: 60px auto;
    height: 400px !important;
}

#quotes .quotes-slider .slick-slide>div {
    background-color: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100% !important;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

#quotes .quotes-slider .slick-slide>div img {
    height: 100%;
}

#quotes .quotes-slider .slick-slide>div .quote-text {
    display: block;
    color: #757575;
    line-height: 30px;
    position: relative;
    font-weight: 300;
}

.news-text:after,
.news-text:before {
    content: "\f10d";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #8343D8;
    font-size: 14px;
}

#quotes .quotes-slider .slick-slide>div .quote-text:after {
    content: "\f10e";
    right: 0;
    left: initial;
    margin-left: 0;
    margin-right: -30px;
}

#quotes .quotes-slider .slick-slide>div .client-name {
    display: block;
    color: #212121;
    margin-top: 42px;
}

#quotes .quotes-slider .slick-slide>div .client-email {
    word-break: break-all;
    display: inline-block;
    color: #757575;
    font-weight: 300;
    max-width: 100%;
}

#quotes .quotes-slider ul.slick-dots {
    margin-top: 0px;
}


/* 13.Posts */

div#posts {
    margin-top: 130px;
    position: relative;
    overflow: hidden;
    padding-bottom: 160px;
}

div#posts:before {
    content: '';
    position: absolute;
    right: -50vw;
    left: -50vw;
    transform: rotateZ(-6deg);
    z-index: -1;
    background-color: #F2F6FF;
    background-image: none;
    top: 290px;
    bottom: 110px;
}

#posts .post>div {
    display: block;
    background-color: #FAFAFA;
    margin: 35px auto;
    border-radius: 10px;
    min-height: 340px;
    box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease-in-out 0s;
    padding-bottom: 15px;
}

#posts .post>div:hover {
    transform: scale(1.05);
}

#posts .post>div .post-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#posts .post>div .post-date {
    margin: 24px 15px 0 15px;
    display: block;
    font-weight: 300;
    font-size: 11px;
    color: #757575;
}

#posts .post>div .post-title {
    display: block;
    margin: 8px 15px 0 15px;
    color: #212121;
    font-size: 16px;
    line-height: 22px;
}

#posts .post>div .post-text {
    display: block;
    margin: 12px 15px 0 15px;
    color: #757575;
    font-size: 13px;
    line-height: 22px;
}

#posts .post>div .post-link {
    display: inline-block;
    margin: 20px 15px 0px 15px;
    text-decoration: none;
    color: #757575;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    transition: all 0.1s linear 0s;
}

#posts .post>div .post-link:hover {
    color: #212121;
}

#posts .post>div .post-link:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url('../images/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    margin: 0 2px;
    transition: all 0.1s linear 0s;
}

#posts .post>div .post-link:hover:after {
    margin-left: 6px;
}

#posts .row {
    margin-top: 30px;
}


/* 14.Contact */

div#contact .row {
    margin-top: 80px;
    overflow: hidden;
}

#contact .section-title {
    padding-top: 50px;
    color: #9B23EA !important;
}

#contact .slick-dots {
    bottom: 50px !important;
}

#contact form .form-control {
    border-color: #e0e0e0;
    background-color: #FAFAFA;
}

#contact form .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 60, 216, 0.2);
}

#contact form .form-control::placeholder {
    color: #BDBDBD;
}

#contact form .form-control:-ms-input-placeholder {
    color: #BDBDBD;
}

#contact form .form-control::-ms-input-placeholder {
    color: #BDBDBD;
}

#contact form textarea.form-control {
    resize: none;
}

#contact .map {
    display: block;
    position: relative;
}

#contact .map img.world {
    width: 100%;
}

#contact .map img.location {
    width: 17px;
    position: absolute;
    top: 34%;
    left: 24%;
}

#contact .address-box {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.95);
    border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    width: 240px;
    padding: 10px;
    z-index: 10;
    right: 20%;
    transform: translateX(-10%);
    margin-top: -11px;
}

#contact .address-box>* {
    display: block;
}

#contact .address-box>strong {
    color: #212121;
    font-size: 14px;
}

#contact .address-box>address {
    color: #757575;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

#contact .address-box>span i {
    color: #942BE5;
    margin-right: 4px;
    font-size: 14px;
}

#contact .address-box>span span {
    color: #757575;
    font-size: 14px;
}


/* 15.Download */

div#download {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 420px;
}

div#download:before {
    content: '';
    position: absolute;
    top: 200px;
    right: -50vw;
    left: -50vw;
    height: 400px;
    background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
    transform: rotateZ(-6deg);
    z-index: -1;
}

div#download:after {
    content: '';
    position: absolute;
    right: -50vw;
    left: -50vw;
    transform: rotateZ(-6deg);
    z-index: -1;
    background-color: #F2F6FF;
    background-image: none;
    top: 600px;
    bottom: -50%;
}

#download h2.section-title {
    margin-top: 0px;
    text-align: left;
    color: #FAFAFA;
}

#download .row {
    margin-top: 250px;
}

#download span.section-text {
    color: #FAFAFA;
    text-align: left;
    margin-top: 26px;
    padding: 0;
}

#download .app-screenshot img {
    width: 320px;
    position: absolute;
    top: -170px;
    right: 0px;
}


/* 16.Footer */

#footer {
    background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
    margin-top: 100px !important;
    padding-top: 50px
}

#footer p.section-title {
    color: #fff;
}

#footer .footer-social {
    text-align: center;
    margin-top: 26px;
}

#footer .footer-social a {
    display: inline-block;
    background-color: #FAFAFA;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    color: #8B38DE;
    transform: rotateZ(-8deg) scale(1);
    margin: 0 10px;
    transition: all 0.2s linear 0s;
}

#footer .footer-social a:hover {
    transform: rotateZ(-8deg) scale(1.1);
}

#footer .footer-social a i {
    vertical-align: -11px;
    transform: rotateZ(8deg);
    font-size: 20px;
}

#footer .copyright {
    text-align: center;
    display: block;
    margin-top: 30px;
    color: #fff;
    font-size: 21px;
}


/* 17.Responsive media queries */


/* < Extra small devices */

@media (max-width: 400px) {
    div#download:before {
        height: 600px;
    }
    div#download:after {
        top: 650px !important;
    }
}


/* Extra small devices */

@media (max-width: 575px) {
    #screens .screens-slider img {
        max-width: 50vw;
    }
    div#download .row {
        margin-top: 170px;
    }
}


/* Small devices */

@media (max-width: 767px) {
    span.section-text {
        padding: 0;
        white-space: normal;
    }
    #header .header-title {
        font-size: 40px !important;
        line-height: 50px;
    }
    #header .header-text {
        font-size: 16px !important;
    }
    div#header {
        padding-top: 40px;
    }
    div#header:before {
        height: 500px;
        top: 110px;
    }
    div#about {
        padding-bottom: 50px;
    }
    div#about:before {
        bottom: 50px;
    }
    div#video {
        padding-bottom: 100px;
    }
    div#video:before {
        bottom: 50px;
    }
    div#team {
        margin-top: 50px;
    }
    #team .section-title {
        padding-top: 50px;
        color: #9B23EA !important;
    }
    div#pricing {
        padding-top: 100px;
        margin-top: 50px;
        padding-bottom: 90px;
    }
    div#pricing:before,
    div#pricing:after {
        height: 50%;
        top: 50px;
    }
    div#pricing:after {
        bottom: 50px;
        top: initial;
    }
    #quotes {
        margin-top: 50px;
    }
    #quotes .quotes-slider .slick-slide>div {
        padding: 40px 20px 20px 20px;
    }
    #quotes .product-water #quotes .quotes-slider .slick-slide>div .quote-text:after,
    #quotes .quotes-slider .slick-slide>div .quote-text:before {
        display: none;
    }
    div#contact {
        margin-top: 50px;
    }
    div#download:before {
        top: 100px;
    }
    div#download:after {
        top: 500px;
    }
    div#download .row {
        margin-top: 150px;
    }
    div#footer {
        padding-top: 50px !important;
    }
    #footer .container .section-title {
        text-align: center !important;
    }
    .round-slider-images div {
        width: 175px !important;
        top: 0px !important;
        left: -50% !important;
        transform: translateX(-50%) !important;
    }
    .round-slider-images .prev-slide,
    .round-slider-images .image-1,
    .round-slider-images .image-2 {
        left: -50%;
        opacity: 0 !important;
        top: 0px;
    }
    .round-slider-images .next-slide,
    .round-slider-images .image-4,
    .round-slider-images .image-5 {
        left: 150% !important;
        opacity: 0 !important;
    }
    .round-slider-images .image-3 {
        left: 50% !important;
    }
    .team-members.slick-slider {
        width: 100%;
    }
}


/* Medium devices */

@media (max-width: 991px) {
    div#header:before {
        height: 600px !important;
    }
    #top-nav.navbar.collapsed {
        background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
        box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    }
    #top-nav.navbar.navbar-is-scrolling #btn-download {
        margin-bottom: 20px !important;
    }
    #btn-download {
        margin: 15px 0 0 0 !important;
    }
    #top-nav .navbar-nav .nav-item {
        padding-top: 5px;
    }
    #top-nav.navbar .navbar-nav .nav-item a {
        margin: 0;
    }
    #header .header-text {
        white-space: normal !important;
    }
    #header .header-content {
        margin-left: -15px;
        margin-right: -15px;
    }
    #quotes .slider-prev {
        left: 30px;
    }
    #quotes .slider-next {
        right: 30px;
    }
    #contact .map img {
        display: none;
    }
    #contact .map .address-box {
        position: initial;
        transform: none;
        width: 100%;
        margin-bottom: 30px;
        background-color: #FAFAFA;
        padding: 0.75rem;
    }
    #contact .address-box>strong {
        font-size: 20px;
    }
    #contact .address-box>address {
        font-size: 16px;
    }
    #contact .address-box>span {}
    #contact .address-box>span i {}
    #contact .address-box>span span {
        font-size: 14px;
    }
}


/* Small - Medium devices */

@media (min-width: 768px) and (max-width: 991px) {
    #header .header-title {
        font-size: 45px !important;
    }
    div#header {
        padding-top: 40px;
    }
    div#header:before {
        height: 390px;
        top: 110px;
    }
    #header img#iphonex {
        width: 280px;
        margin-top: 0px;
    }
    div#about {
        padding-bottom: 60px;
    }
    div#about:before {
        top: 260px;
        bottom: 60px;
    }
    div#video {
        padding-bottom: 120px;
    }
    div#video:before {
        bottom: 60px;
    }
    div#team {
        margin-top: 20px;
    }
    div#pricing {
        padding-bottom: 80px;
    }
    div#pricing:before {
        height: 50%;
    }
    div#pricing:after {
        top: initial;
        bottom: 60px;
        height: 50%;
    }
    #quotes {
        margin-top: 30px;
    }
    div#contact {
        margin-top: 70px;
    }
    div#download:before {
        top: 180px;
    }
    div#download:after {
        top: 580px;
    }
    div#footer {
        margin-top: -220px;
    }
    .round-slider-images .prev-slide,
    .round-slider-images .image-1 {
        top: 90px;
        left: 1%;
        transform: rotateZ(-15deg) scale(0.99);
        opacity: 0 !important;
        width: 140px;
        margin-left: 0px;
    }
    .round-slider-images .image-2 {
        left: 1%;
        transform: rotateZ(-15deg);
        top: 90px;
        z-index: 70 !important;
    }
    .round-slider-images .image-4 {
        top: 90px;
        left: 69%;
        z-index: 70 !important;
    }
    .round-slider-images .next-slide,
    .round-slider-images .image-5 {
        top: 90px;
        left: 69%;
        width: 140px;
        transform: translateX(50%) rotateZ(15deg) scale(0.99);
        opacity: 0 !important;
    }
    .team-members.slick-slider {
        width: 70%;
    }
    #team i.slider-prev {
        left: -170px;
    }
    #team i.slider-next {
        right: -170px;
    }
}


/* Medium - Large devices */

@media (min-width: 992px) and (max-width: 1199px) {
    #contact .address-box {
        margin-top: -30px;
    }
    #download h2.section-title {
        margin-top: -20px;
    }
}


/* FHD, 2K and 4K */

@media (min-width: 2000px) {
    div#header {
        padding-bottom: 600px;
    }
    div#about {
        margin-top: -350px;
        padding-bottom: 220px;
    }
    div#about:before {
        bottom: 140px;
    }
    div#pricing:after {
        bottom: 140px;
    }
    #screens {
        margin-top: 0px;
    }
}


/* 5K */

@media (min-width: 3000px) {
    div#header:before,
    div#about:before,
    div#video:before,
    div#pricing:before,
    div#pricing:after,
    div#posts:before,
    div#download:before,
    div#download:after {
        transform: rotateZ(-3deg);
    }
    div#posts {
        padding-bottom: 180px;
    }
    div#posts:before {
        bottom: 140px;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #F2F6FF;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-image: linear-gradient(45deg, #5F72BD 0%, #9B23EA 100%);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.product-water {
    margin-top: 50px;
    background: #fff;
    padding: 50px 0;
    border-radius: 10px
}

.product-water .news-slug {
    text-align: center !important
}

.product-water .section-title {
    text-align: center;
    color: #9B23EA !important;
}

.product-water .corp-inc {
    font-size: 15px;
    margin-top: 20px;
    list-style-type: circle;
}

#screens {
    padding-top: 100px;
}

#screens .section-title,
#screens .section-text {
    color: #7110b1 !important;
}

#pricing .product-cigarett {
    text-align: justify;
    color: #fff !important;
}

#pricing-title {
    padding-bottom: 100px
}

#pricing .team-members.slick-slider {
    display: block;
    width: 50%;
    margin: -100px auto 0 auto;
    direction: ltr;
}

.lazy .slick-next {
    right: 30px;
}

.lazy .slick-prev {
    left: 30px;
}